#app
  height 100%
#components-layout-demo-top 
  height 100%
.ant-modal
  width: 70%!important
.ant-form-item-label
  width: 200px
.ant-layout-footer
  position: fixed
  bottom: 0
  width: 100%
  padding: 5px